.page
	h1.title Бинарная система счисления
	.page__inner
		p.page__text Бинарная система счисления, содержащая только 0 и 1, используется в инструкциях машинного языка, который понимает процессор.
		table.table_horizontal
			tr