aside.panel
	span.panel__control
	ul.panel__list
		li.panel__item
			a.panel__link(href=`lesson/architecture/page/1`) Архитектура
			ul.panel__sublist
				li.panel__item: a.panel__link(href=`lesson/architecture/page/1`) Архитектура
				li.panel__item: a.panel__link(href=`lesson/architecture/page/1`) DML
		li.panel__item: a.panel__link(href=`lesson/components/page/1`) Компоненты