.page
	h1.title Состав СУБД Oracle
	.page__inner
		ol.list
			li.list__item
				strong.list__name Экземпляры
				|  - структуры памяти и фоновые процессы, которые работают с файлами данных.
				|  При запуске экземпляра, выделяется область совместно используемой памяти (Системная глобальная область SGA) и запускаются фоновые процессы.
			li.list__item
				strong.list__name Базы данных
				|  - Файлы, хранящиеся на дисках и содержащие данные. Состоит из физических (фильтры данных, управляющие файлы, журналы транзакций) и логических структур (блоки данных, экстенты, сегменты, табличные пространства)