.page
	h1.title Структуры экземпляра
	.page__inner
		ol.list
			li.list__item
				strong.list__name Процессы
				|  - механизмы в операционной системе.
				ol.list.list_2
					li.list__item 
						strong.list__name Клиентские
						| - процессы, которые создаются и поддерживаются для запуска программного кода прикладной программы или инструмента Oracle.
					li.list__item 
						strong.list__name Фоновые
						| - процессы, которые объединяют функции, которые в противном случае обрабатывались бы несколькими программами субд, выполняемыми для каждого клиентского процесса. Фоновые процессы асинхронно выполняют ввод-вывод и контролируют другие процессы субд, чтобы обеспечить увеличенный параллелизм для повышения производительности и надежности.
					li.list__item 
						strong.list__name Серверные
						| - процессы, которые взаимодействуют с клиентскими процессами и взаимодействуют с базой данных для выполнения запросов
			li.list__item
				strong.list__name Структуры памяти
				|  - структуры, создающиеся и использующиеся Oracle для программного кода, данных, общих для пользователей, и частных областей данных для каждого подключенного пользователя.
				ol.list.list_2
					li.list__item 
						strong.list__name SGA (глобальная системная область)
						|  - группа разделяемых структур памяти, которые содержат данные и управляющую информацию для одного экземпляра базы данных. Примеры компонентов SGA включают кеш буфера базы данных и общие области SQL.
					li.list__item 
						strong.list__name PGA (глобальная программная область)
						|  - область памяти, которая содержит данные и управляющую информацию для сервера или фонового процесса. Доступ к PGA исключительно для процесса. Каждый процесс сервера и фоновый процесс имеют свой собственный PGA.