.page
	h1.title Структуры хранения базы данных
	.page__inner
		ol.list
			li.list__item
				strong.list__name Структуры физического хранения
				|  - механизмы в операционной системе.
				ol.list.list_2
					li.list__item 
						strong.list__name Файлы данных
						| - файлы, содержащие все данные базы данных
					li.list__item 
						strong.list__name Управляющие файлы
						| - файлы, содержащие метаданные, определяющие физическую структуру базы данных, включая имя базы данных, а также имена и местоположения файлов базы данных.
					li.list__item 
						strong.list__name Журналы транзаций
						| - наборы из двух или более файлов журналов повторного использования, в которых записаны все изменения, внесенные в данные.
			li.list__item
				strong.list__name Структуры логического хранения
				|  - структуры, создающиеся и использующиеся Oracle для программного кода, данных, общих для пользователей, и частных областей данных для каждого подключенного пользователя.
				ol.list.list_2
					li.list__item 
						strong.list__name Блок данных
						|  - минимальная единица доступа к данным
					li.list__item 
						strong.list__name Экстент
						|  -  набор из нескольких подряд идущих блоков, непрерывная последовательность.
					li.list__item 
						strong.list__name Сегмент
						|  -  набор экстентов, выделенных для определенной цели - для хранения объектов определённого типа.
					li.list__item 
						strong.list__name Табличное пространство
						|  -  логическая единица хранения информации. Является логическим контейнером для сегмента. Каждое табличное пространство состоит из хотя бы одного файла данных.