.page
	h1.title Типы объектов
	.page__inner
		ol.list
			li.list__item
				strong.list__name Схема
				|  - Набор объектов логической структуры данных, который ассоциируется с именем пользователя объекта.
			li.list__item
				strong.list__name Таблица
				|  - Структура, состоящая из множества строк, содержащих одинаковое колличество столбцов
			li.list__item
				strong.list__name Индекс
				|  - объекты схемы, которые содержат запись для каждой индексированной строки таблицы или кластера таблиц и обеспечивают прямой, быстрый доступ к строкам.
			li.list__item
				strong.list__name Констрейинт
				|  - правила, ограничивающие значения полей базы данных.
			li.list__item
				strong.list__name Представление
				|  - виртуальная таблица (поименованный запрос).
			li.list__item
				strong.list__name Последовательность
				|  - объект для генерации пользователями уникальных целых чисел.
			li.list__item
				strong.list__name Триггер
				|  - фрагмент PL/SQL, который будет выполнен, когда указанное условие будет выполнено
			li.list__item
				strong.list__name Подпрограмма
				|  - Именованный блок кода PL/SQL
			li.list__item
				strong.list__name Пакет
				|  - объекты, группирующие логически связанные PL/SQL типы, константы, подпрограммы.