label.counter.grid-col_3(for="count") Колличество
	input.counter__input#count.js-number(type="text",name="count",value=(count ? count : 1 ))
	.counter__buttons
		button#inc(type="button") +
		button#dec(type="button") -