section.social.grid-col_2
	a.social__item(href="#")
		include ../../public/images/icons/vk.svg
	a.social__item(href="#")
		include ../../public/images/icons/facebook.svg
	a.social__item(href="#")
		include ../../public/images/icons/instagram.svg