.page
	h1.title Регистры
	a.examples__btn Показать примеры
	.page__inner
		.page-section
			strong.page-section__title Определение:
			|  Места хранения внутренней памяти, хранят элементы данных для обработки без необходимости доступа к памяти.
		.page-section
